h2 {
    text-align: center;
}
#map{
    width: 90vw;
    height: 90vh;
    border: solid black 1px;
    margin: auto;
}

.snow-label {
    font-size: 1.25em;
    font-weight: bold;
    display: 0.3em;
}