h2 {
    text-align: center;
}
#map{
    width: 90vw;
    height: 90vh;
    border: solid black 1px;
    margin: auto;
}

.snow-label {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    text-shadow: 
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white, 
}

.snow-100 {
    background-color: blue;
}

.snow-200 {
    background-color: red;
}


 .snow-1to10 {
     background-color: #ffffb2;
 }
 .snow-10to25 {
    background-color: #b0ffbc;
 } 
 .snow-26to50 {
    background-color: #8cffff;
 }
 .snow-51to100 {
     background-color: #19cdff;
 }
 .snow-101to200 {
     background-color: #1982ff;
 }
 .snow-201to300 {
    background-color: #0f5abe;
}
 

.wind-label {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    text-shadow: 
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white, 
}

.wind-10 {
    background-color: green;
}

.wind-20 {
    background-color: purple;
}

.Air-labele {
    font-size: 1.25em;
    font-weight: bold;
    display: inline;
    padding: 0.3em;
    border: 1px solid gray;
    background-color: silver;
    text-shadow: 
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white,
    -1px -1px 0 white, 
}

.Air-neg {
    background-color: blue;
}

.Air-null {
    background-color: #8cffff ;
}

.Air-pos {
    background-color: green
}