p {
    font-family: Arial;
  }
  h1 {
   color: maroon;
  }
  .title  {
  color: teal;
  }
  
  .lowercase {
   text-transform: lowercase; 
  }
  #article-title{ 
    font-family: cursive;
  text-transform: capitalize;
  
  .publish-time {
    color: gray;
  }
  